@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html, body
{
	margin: 0;
	padding: 0;
	min-width: 1200px;
	position: relative;
	font-family: 'Montserrat', sans-serif !important;
	background-color: #3F4482; 
}
.pattern-container{ position: relative;z-index: 2; }
body:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url('../svg/pattern-2.png') repeat;
   	opacity: 0.5;
   	background-size: 150px;
}
.full-width
{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.fixed-width
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.header
{
	position: relative;
	text-align: center;
	height: 100vh;
}
.vit_logo{
	position: absolute;
	top: 65vh;
	left: 300px;
	margin: 0 auto;
	max-width: 220px;
}
.isologo{
	position: absolute;
	top: 65vh;
	right: 300px;
	margin: 0 auto;
	max-width: 220px;
}
.logo
{
	top: 10vh;
	position: relative;
	max-width: 400px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.sharing
{
	position: absolute;
	top: 50px;
	/*right: 50px;*/
	right: -99999px;
	/*visibility: hidden;*/
}
.sharing.visible
{
	right: 50px;
}

.share-button
{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	width: 115px;
	height: 32px;
	z-index: 10;
}
.share-button.fb-share .share-cover
{
	background: rgb(53,98,167);
}
.share-button.twitter-share .share-cover
{
	background: rgb(0,204,254);
}

.share-button:hover .share-cover
{
	transform: translate3d(0, -38px, 0);
}
.share-cover
{
	position: absolute;
	z-index: 8;
	transition: all 0.3s ease-out;
}
.share-bg
{
	position: absolute;
	width: 115px;
	height: 32px;
	background: rgb(39,41,61);
	z-index: 8;
}
.fb-share
{
	position: absolute;
	width: 115px;
	height: 32px;
	right: 130px;
	border-radius: 5px;
}
.twitter-share
{
	position: absolute;
	width: 115px;
	height: 32px;
	right: 0px;
	border-radius: 5px;
}

#twitter-widget-0
{
	position: absolute !important;
	z-index: 8;
	top: 6px;
	left: 18px;
}


@-webkit-keyframes head_light_flicker
{
	0% { opacity: 0; }
	20% { opacity: 1; }
	50% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}
@-moz-keyframes head_light_flicker
{
	0% { opacity: 0; }
	20% { opacity: 1; }
	50% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}
@-o-keyframes head_light_flicker
{
	0% { opacity: 0; }
	20% { opacity: 1; }
	50% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}
@keyframes head_light_flicker
{
	0% { opacity: 0; }
	20% { opacity: 1; }
	50% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}
.logo-car-headlight
{
	-webkit-animation: head_light_flicker 1.0s infinite;
	-moz-animation: head_light_flicker 1.0s infinite;
	-o-animation: head_light_flicker 1.0s infinite;
	animation: head_light_flicker 1.0s infinite;
}
.subtitle
{
	position: absolute;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1.2em;
	color: rgb(163,168,194);
	text-align: right;
	width: 530px;
	right: 272px;
	top: 480px;
}
.subtitle b
{
	font-family: 'Montserrat';
	font-weight: 700;
	color: white;
}
.into-cta
{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1.0em;
	color: rgb(163,168,194);
	text-align: center;
	width: 630px;
	position: absolute;
	top: 690px;
	left: 300px;
}
.game-shortcut
{
	position: absolute;
	z-index: 1;
	top: 50px;
	right: 50px;
	background: rgb(50,171,223);
	color:white;
	display: block;
	padding: 20px;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.6em;
	letter-spacing: 1.1px;
	cursor: pointer;
	transition: all 0.15s ease-out;
}
.game-shortcut:hover
{
	background: rgb(30,151,203);
	transform: scale(1.05,1.05);
}

@-webkit-keyframes scale_bob
{
	0%, 100% { transform: scale(1,1);}
	50%  { transform: scale(1.1,1.1); }
}
@-moz-keyframes scale_bob
{
	0%, 100% { transform: scale(1,1);}
	50%  { transform: scale(1.1,1.1); }
}
@-o-keyframes scale_bob
{
	0%, 100% { transform: scale(1,1);}
	50%  { transform: scale(1.1,1.1); }
}
@keyframes scale_bob
{
	0%, 100% { transform: scale(1,1);}
	50%  { transform: scale(1.1,1.1); }
}

.scroll-cta
{
	position: absolute;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.2em;
	color: rgb(50,171,223);
	top: 830px;
	left: 540px;
	-webkit-animation: scale_bob 0.5s infinite;
	-moz-animation: scale_bob 0.5s infinite;
	-o-animation: scale_bob 0.5s infinite;
	animation: scale_bob 0.5s infinite;
}

.scroll-down-icon
{
	position: absolute;
	display: block;
	top: 80vh;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.infographic
{
	padding-top: 150px;
	position: relative;
}
.infographic .fixed-width
{
	padding-bottom: 200px;
}

.windy-road
{
	position: absolute;
	right:0;
	top: -230px;
}
.road-extender
{
	position: absolute;
	left:1199px;
	z-index: 1;
	top: -230px;
}
.tunnel
{
	position: absolute;
	z-index: 2;
	top: 35px;
	right: 0;
}
#road-path
{
	position: absolute;
	z-index: 10;
	right:0;
	top:-187px;
}
#road-path-target
{
	transform: matrix(1, 0, 0, 1, 0, 0);
}
.scroll-car
{
	position: absolute;
	z-index: 3;
	top: -230px;
	right: 0;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%; 
    transform-origin: 50% 50%;
}

/*.stripes
{
	position: absolute;
	top: 220px;
	width: 100%;
}
.stripe
{
	width: 100%;
	height: 160px;
	background: rgb(36,39,59);
	margin-top: 275px;
}
*/
.info-rows
{
	margin-top: 150px;
}
.info-row
{
	width:100%;
	height: 450px;
	overflow: hidden;
}
.info-point
{
	position: relative;
}
.info-row:first-of-type
{
	top:0;
}
.info-row.right .info-point
{
	right: -740px;
}
.info-row.left .info-point
{
	left: 120px;
}


.info-text
{
	width: 300px;
	height: 450px;
	vertical-align: middle;
	position: relative;
}
.info-text.left
{
    top: -350px;
    left: -625px;
}
.info-text.right
{
    top: -382px;
    right: -666px;
}
.info-row.left .info-text
{
	text-align: center;
}
.info-row.right .info-text
{
	text-align: center;
}

.info-icon
{
	display: block;
	position: relative;
}
/*.safety-first
{
	top:28px;
}*/
.speeding-ticket
{
	
}
.drink-driving
{
	left: -10px;
}
.driving-test
{
	
}
.romanian-car-law
{
	left:-20px;
}
.traffic-lights
{
	top:0;
}
.german-car-law
{
	top:10px;
	left:-40px;
}
.sweedish-roads
{
	top:0;
}


.info-point h3
{
	font-family: 'Montserrat';
	font-weight: 700;
	color: white;
	font-size: 2em;
	/*letter-spacing: 1.1px;*/
	letter-spacing: -2px;
	line-height: 0;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top:30px;
}
.info-point p
{
	font-family: 'Montserrat', sans-serif !important;
	color: white;
	font-size: 1em;
}

.info-point b
{
	font-family: 'Montserrat';
	font-weight: 700;
	color:rgb(96,184,229);
}

.game-entry
{
	height: 912px;
	text-align: center;
	background: #383838;
	transition: all 0.5s ease-out;
}
.game-entry.playing
{
	background: rgb(18,20,36);
}
.game-entry h3
{
	font-family: 'Montserrat';
	font-weight: 700;
	color: white;
	font-size: 5.0em;
	/*letter-spacing: 1.1px;*/
	letter-spacing: -1px;
	line-height: 0;
	margin-bottom: 60px;
	margin-top: 30px;
}
.game-entry p
{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1.2em;
	color: white;
	margin-bottom: 50px;
}
.blue-road
{
	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	height: 100%;
}

.game-form
{
    margin: 0 auto;
    position: absolute;
    margin-top:100px;
    visibility: hidden;
    left: 12%;
    right: 0;
}
#game-player-name
{
	background: none;
	border: 1px solid white;
	border-radius: 6px;
	width: 30%;
	width: 400px;
	font-family: 'Montserrat', sans-serif !important;
	height: 60px;
	font-size: 1.2em;
	text-align: center;
}
#game-player-name:focus
{
	border: 1px solid white;
	background: rgba(255,255,255,0.1);
}
#game-player-name::-webkit-input-placeholder 
{
	color: white;
}
#game-player-name:-moz-placeholder { 
	color: white;
}
#game-player-name::-moz-placeholder {
	color: white; 
}
#game-player-name:-ms-input-placeholder {  
	color: white;
}
input, select, textarea{
    color: white;
}
textarea:focus, input:focus {
    color: white;
}

.game-start-button
{
	background: rgb(39,42,63);
	color:white;
	display: block;
	cursor: pointer;
	padding: 10px;
	max-width: 386px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2.5em;
	letter-spacing: 1.1px;
	box-shadow: 10px 10px rgba(0,0,0,0.1);
	transition: all 0.12s ease-out;
}
.game-start-button:hover
{
	background: rgb(215,146,31);
}

.game-preloader
{
	position: absolute;
	width: 446px;
	left: 377px;
	height: 4px;
	top: 463px;
	visibility: hidden;	
}
.preload-bar
{
	width: 100%;
	height: 4px;
	background: rgb(39,42,63);
}
.preload-marker
{
	width: 0%;
	height: 4px;
	background: rgb(255,255,255);
}

.game
{
	width: 100%;
	height: 100%;
	position: absolute;
}
.onyx
{
	position: absolute;
	top: 7%;
	left: 2%;
	width: 96%;
	height: 86%;
  	display: block;
  	z-index: 0;
	background: rgba(0,0,0,0);
}
.onyx.active
{
	background: rgba(0,0,0,1);
}

.hud
{
	text-shadow: 1px 1px 1px #000;
	position: relative;
	visibility: hidden;
}
.hud-text
{
	position: absolute;
	z-index: 100;
	font-family: 'Press Start 2P', Arial;
	font-size: 1.4em;
	font-weight: 500;
	color: white;
	letter-spacing: -1px;
}
.hud-score
{
	top: 30px;
	left: 30px;
}
.hud-rank
{
	top: 30px;
	left: 290px;
}
.hud-instructions
{
	top: 30px;
	right: 30px;
}

.game-score
{
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 100;
	font-family: 'Press Start 2P', Arial;
	font-size: 4em;
	font-weight: 500;
	opacity: 0;	
	color: rgb(244,60,125);
	text-shadow: 1px 1px 1px #000;
}
.game-score-positive
{
	color: rgb(60,244,125);
}

.glcanvas
{
	opacity: 0;
	transition: opacity 0.5s ease-out;
}
.glcanvas.active
{
	opacity: 1;
}

.game-over-screen
{
	position: absolute;
	visibility: hidden;
	margin-top: 250px;
	width: 700px;
	left: 250px;
}
.game-over-screen .scoring
{
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: 700;
	text-align: left;
	font-size: 4em;
	line-height: 0.9em;
	padding-left: 30px;
	margin-left: 30px;
	border-left: 2px solid white;
}
.game-over-screen h3
{
	position: relative;
	top: -25px;
	text-align: left;
	margin: 0;
	display: inline-block;
}
.game-over-screen  .rank-title
{
	display: inline-block;
}
.game-over-screen  .rank
{
	
}
.game-over-screen  .rank-val
{
	display: inline-block;
	color: white;
	margin-left: 30px;
}
.game-over-screen  .score-title
{
	display: inline-block;
}
.game-over-screen .score
{
	
}
.game-over-screen .score-val
{
	display: inline-block;
	color: white;
	margin-left: 70px;
}
.score-table
{
	margin-top: 50px;
}
.play-again-button
{
	background: rgb(39,42,63);
	color:white;
	display: block;
	cursor: pointer;
	padding: 10px;
	max-width: 386px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2.5em;
	letter-spacing: 1.1px;
	box-shadow: 10px 10px rgba(0,0,0,0.1);
	transition: all 0.2s ease-out;
}
.play-again-button:hover
{
	background: rgb(215,146,31);
}
.driving-tips
{
	margin-top: 50px;
}
.driving-tips p
{
	font-size: 1.0em;
	margin-bottom: 0;
	text-align: left;
	border-left: 2px solid white;
	padding-left: 15px;
}

.visible
{
	visibility: visible;
}
.inactive
{
	display: none;
}
/*Custom*/

/* ---- grid ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item h2{
	color: #fff;
	text-align: left;
	font-weight: 700;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif !important;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}	
/* ---- .element-item ---- */
@media screen (max-width: 990px){
	.game-entry{
		display: none;
	}
}
/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 20%;
}

.grid-item {
  float: left;
  height: 142px;
  background-position: center;
  cursor: pointer;
  transition: all ease-out 0.5s;
}
.grid-item  a {
	text-decoration: none !important;
	    width: 100%;
	    height: 100%;

	z-index: 111;
	    display: block;
	text-decoration: none !important;
	}

.grid-item--width2 { width: 40%; background: url('../svg/aboutriviera.jpg') no-repeat; background-size: cover;background-position: center;}
.grid-item--height2 { height: 300px; background: url('../svg/artscurrent.png') no-repeat; background-size: cover;}

.grid-item--width2-about{
	width: 40%; background: url('../svg/aboutriviera.png') no-repeat; background-size: cover;background-position: center;
}
.grid-item--height2-sponsors{
height: 300px; background: url('../svg/sponsors.jpg') no-repeat; background-size: cover;
}
.grid-item--width3-events{
	width: 18%; background: url('../svg/events.jpg') no-repeat; background-size: cover;background-position: center;
}
.grid-item--height2-proshow{
	height: 300px; background: url('../svg/artscurrent.png') no-repeat; background-size: cover;
}
.grid-item--height2-registeration{
height: 300px; background: url('../svg/registrations.jpg') no-repeat; background-size: cover;background-position: center;
}
.grid-item--width2-organizer{
width: 40%; background: url('../svg/organizer.png') no-repeat; background-size: cover;background-position: center;
}
.grid-item--width2-aftermovie{
width: 40%; background: url('../svg/after-movie.png') no-repeat; background-size: cover;background-position: center;
}
.logo-bottom{
	width: auto;
	height: 100px;
	position: relative;
	left: -94px;
	top: -20px;
	/* margin: 0 auto; */
	z-index: 11;
}
.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #fff url('../svg/preloader.gif') no-repeat center center; }

/*	Social Widget

------------------------------------------------*/	
.widget h4{
	color: #fff;
	font-weight: 300;
	text-align: left;
}
.socialmedia-widget {
	text-align: center;
	padding: 0;
	list-style: none;
	}
	.socialmedia-widget.align-center, .align-center .socialmedia-widget { text-align: center; }
	div .socialmedia-widget:first-child { margin: 0; }
	
.socialmedia-widget li {
	display: inline-block;
	*display: inline; *zoom: 1; 
	margin: 0 14px 0 0;
	position: relative;
	}
	.socialmedia-widget li:last-child { margin-right: 0px; }
	.align-center .socialmedia-widget li { margin-right: -5px; padding: 0 10px ; }
	.align-center .socialmedia-widget[class*='style-'] li { margin-right: -5px; padding: 0 0px ; }
	.align-right .socialmedia-widget li, .right-float .socialmedia-widget li { margin-left: 14px; margin-right: 0px; }
	.align-right .socialmedia-widget li:first-child, .right-float .socialmedia-widget li:first-child { margin-left: 0px; }
	
.socialmedia-widget li a {
	font: normal normal normal 12px/1 FontAwesome;
  	font-size: 25px;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
	display: block;
	text-align: center;
	}
	.text-light .socialmedia-widget li a { color: #ffffff; }	

.socialmedia-widget li.facebook a:before, .socialmedia-widget li.facebook a:after { content:"\f09a"; }
.socialmedia-widget li.twitter a:before, .socialmedia-widget li.twitter a:after { content:"\f099" }
.socialmedia-widget li.tumblr a:before, .socialmedia-widget li.tumblr a:after { content: "\f173"; }
.socialmedia-widget li.vimeo a:before, .socialmedia-widget li.vimeo a:after { content: "\f194"; }
.socialmedia-widget li.dribbble a:before, .socialmedia-widget li.dribbble a:after { content: "\f17d"; }
.socialmedia-widget li.deviantart a:before, .socialmedia-widget li.deviantart a:after { content: "\f1bd"; }
.socialmedia-widget li.behance a:before, .socialmedia-widget li.behance a:after { content: "\f1b4"; }
.socialmedia-widget li.flickr a:before, .socialmedia-widget li.flickr a:after { content: "\f16e"; }
.socialmedia-widget li.linkedin a:before, .socialmedia-widget li.linkedin a:after { content: "\f0e1"; }
.socialmedia-widget li.rss a:before, .socialmedia-widget li.rss a:after { content: "\f09e"; }
.socialmedia-widget li.googleplus a:before, .socialmedia-widget li.googleplus a:after { content: "\f0d5"; }
.socialmedia-widget li.pinterest a:before, .socialmedia-widget li.pinterest a:after { content: "\f0d2"; }
.socialmedia-widget li.youtube a:before, .socialmedia-widget li.youtube a:after { content: "\f167"; }
.socialmedia-widget li.mail a:before, .socialmedia-widget li.mail a:after { content: "\f0e0"; }
.socialmedia-widget li.instagram a:before, .socialmedia-widget li.instagram a:after { content: "\f16d"; }
.socialmedia-widget li.xing a:before, .socialmedia-widget li.xing a:after { content: "\f168"; }
.socialmedia-widget li.dropbox a:before, .socialmedia-widget li.dropbox a:after { content: "\f16b"; }
.socialmedia-widget li.stumbleupon a:before, .socialmedia-widget li.stumbleupon a:after { content: "\f1a4"; }
.socialmedia-widget li.delicious a:before, .socialmedia-widget li.delicious a:after { content: "\f1a5"; }
.socialmedia-widget li.wordpress a:before, .socialmedia-widget li.wordpress a:after { content: "\f19a"; }
.socialmedia-widget li.vk a:before, .socialmedia-widget li.vk a:after { content: "\f189"; }
.socialmedia-widget li.soundcloud a:before, .socialmedia-widget li.soundcloud a:after { content: "\f1be"; }
.socialmedia-widget li.spotify a:before, .socialmedia-widget li.spotify a:after { content: "\f1bc"; }
.socialmedia-widget li.codepen a:before, .socialmedia-widget li.codepen a:after { content: "\f1cb"; }
.socialmedia-widget li.github a:before, .socialmedia-widget li.github a:after { content: "\f09b"; }
.socialmedia-widget li.lastfm a:before, .socialmedia-widget li.lastfm a:after { content: "\f202"; }
.socialmedia-widget li.jsfiddle a:before, .socialmedia-widget li.jsfiddle a:after { content: "\f1cc"; }
.socialmedia-widget li.mixcloud a:before, .socialmedia-widget li.mixcloud a:after { content: "\f289"; }
.socialmedia-widget li.skype a:before, .socialmedia-widget li.skype a:after { content: "\f17e"; }
.socialmedia-widget li a:after { visibility: hidden; opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
/* styles */
.socialmedia-widget[class*='style-'] li a:before, .socialmedia-widget[class*='style-'] li a:after { width: 40px; line-height: 40px; }
.socialmedia-widget.size-medium[class*='style-'] li a:before, .socialmedia-widget.size-medium[class*='style-'] li a:after { width: 60px;line-height: 60px; }
.socialmedia-widget.size-big[class*='style-'] li a:before, .socialmedia-widget.size-big[class*='style-'] li a:after { width: 80px;line-height: 80px; }
.socialmedia-widget.size-huge[class*='style-'] li a:before, .socialmedia-widget.size-huge[class*='style-'] li a:after { width: 100px;line-height: 100px; }
.socialmedia-widget[class*='style-'] li { margin: 0 5px 0 0; }
.align-center .socialmedia-widget[class*='style-'] li { margin: 0 3px; }
.align-right .socialmedia-widget[class*='style-'] li { margin: 0 0 0 5px; }
.socialmedia-widget li a { position: relative; overflow: hidden; }
.socialmedia-widget[class*='style-'] li a:after, .socialmedia-widget[class*='style-'] li a:before { border: 1px solid rgba(0, 0, 0, .15); }
.text-light .socialmedia-widget[class*='style-'] li a:after, .text-light .socialmedia-widget[class*='style-'] li a:before { border: 1px solid rgba(255,255,255,.22); }
.socialmedia-widget li a:after { position: absolute; top: 0; left: 0; }
.socialmedia-widget li a:before, .socialmedia-widget li a:after { display: block; }
.socialmedia-widget[class*='style-rounded'] li a:after, .socialmedia-widget[class*='style-rounded'] li a:before { border-radius: 3px; }
.socialmedia-widget[class*='style-circled'] li a:after, .socialmedia-widget[class*='style-circled'] li a:before { border-radius: 100px; }
.socialmedia-widget.hover-slide-1[class*='style-rounded'] li a { border-radius: 3px; }
.socialmedia-widget.hover-slide-1[class*='style-circled'] li a { border-radius: 100px; } 
/* hover 1 */
.socialmedia-widget.hover-slide-1[class*='style-'] li a { border: 1px solid rgba(0, 0, 0, .15); } 
.text-light .socialmedia-widget.hover-slide-1[class*='style-'] li a { border: 1px solid rgba(255,255,255,.22); }
.socialmedia-widget.hover-slide-1[class*='style-'] li a:after, .socialmedia-widget.hover-slide-1[class*='style-'] li a:before { border: none; }
.socialmedia-widget.hover-fade-1 li.facebook a:hover, .socialmedia-widget.hover-slide-1 li.facebook a:after { color: #446ebf; }
.socialmedia-widget.hover-fade-1 li.twitter a:hover, .socialmedia-widget.hover-slide-1 li.twitter a:after { color: #39aadc; }
.socialmedia-widget.hover-fade-1 li.tumblr a:hover, .socialmedia-widget.hover-slide-1 li.tumblr a:after { color: #4c6781; }
.socialmedia-widget.hover-fade-1 li.vimeo a:hover, .socialmedia-widget.hover-slide-1 li.vimeo a:after { color: #15c9f5; }
.socialmedia-widget.hover-fade-1 li.dribbble a:hover, .socialmedia-widget.hover-slide-1 li.dribbble a:after { color: #f14980; }
.socialmedia-widget.hover-fade-1 li.deviantart a:hover, .socialmedia-widget.hover-slide-1 li.deviantart a:after { color: #2ea06f; }
.socialmedia-widget.hover-fade-1 li.behance a:hover, .socialmedia-widget.hover-slide-1 li.behance a:after { color: #00b0f0; }
.socialmedia-widget.hover-fade-1 li.flickr a:hover, .socialmedia-widget.hover-slide-1 li.flickr a:after { color: #f04783; }
.socialmedia-widget.hover-fade-1 li.linkedin a:hover, .socialmedia-widget.hover-slide-1 li.linkedin a:after { color: #81d3fd; }
.socialmedia-widget.hover-fade-1 li.rss a:hover, .socialmedia-widget.hover-slide-1 li.rss a:after { color: #ff8322; }
.socialmedia-widget.hover-fade-1 li.googleplus a:hover, .socialmedia-widget.hover-slide-1 li.googleplus a:after { color: #d63d1e; }
.socialmedia-widget.hover-fade-1 li.pinterest a:hover, .socialmedia-widget.hover-slide-1 li.pinterest a:after { color: #c81e1e; }
.socialmedia-widget.hover-fade-1 li.youtube a:hover, .socialmedia-widget.hover-slide-1 li.youtube a:after { color: #ee423d; }
.socialmedia-widget.hover-fade-1 li.mail a:hover, .socialmedia-widget.hover-slide-1 li.mail a:after { color: #74624d; }
.socialmedia-widget.hover-fade-1 li.instagram a:hover, .socialmedia-widget.hover-slide-1 li.instagram a:after { color: #95604b; }
.socialmedia-widget.hover-fade-1 li.xing a:hover, .socialmedia-widget.hover-slide-1 li.xing a:after { color: #036567; }
.socialmedia-widget.hover-fade-1 li.dropbox a:hover, .socialmedia-widget.hover-slide-1 li.dropbox a:after { color: #008cd2; }
.socialmedia-widget.hover-fade-1 li.stumbleupon a:hover, .socialmedia-widget.hover-slide-1 li.stumbleupon a:after { color: #f94213; }
.socialmedia-widget.hover-fade-1 li.delicious a:hover, .socialmedia-widget.hover-slide-1 li.delicious a:after { color: #1b59c3; }
.socialmedia-widget.hover-fade-1 li.wordpress a:hover, .socialmedia-widget.hover-slide-1 li.wordpress a:after { color: #118bc0; }
.socialmedia-widget.hover-fade-1 li.vk a:hover, .socialmedia-widget.hover-slide-1 li.vk a:after { color: #29577b; }
.socialmedia-widget.hover-fade-1 li.soundcloud a:hover, .socialmedia-widget.hover-slide-1 li.soundcloud a:after { color: #ff7700; }
.socialmedia-widget.hover-fade-1 li.spotify a:hover, .socialmedia-widget.hover-slide-1 li.spotify a:after { color: #80b900; }
.socialmedia-widget.hover-fade-1 li.codepen a:hover, .socialmedia-widget.hover-slide-1 li.codepen a:after { color: #171515; }
.socialmedia-widget.hover-fade-1 li.github a:hover, .socialmedia-widget.hover-slide-1 li.github a:after { color: #171515; }
.socialmedia-widget.hover-fade-1 li.lastfm a:hover, .socialmedia-widget.hover-slide-1 li.lastfm a:after { color: #f94f14; }
.socialmedia-widget.hover-fade-1 li.jsfiddle a:hover, .socialmedia-widget.hover-slide-1 li.jsfiddle a:after { color: #0c9de8; }
.socialmedia-widget.hover-fade-1 li.mixcloud a:hover, .socialmedia-widget.hover-slide-1 li.mixcloud a:after { color: #29587c; }
.socialmedia-widget.hover-fade-1 li.skype a:hover, .socialmedia-widget.hover-slide-1 li.skype a:after { color: #00aef3; }

hr.mini {
    width: 36px !important;
    border: none;
    background: #fff;
    height: 2px;
    margin: 0;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    opacity: 0.75;
    filter: alpha(opacity=15);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    margin-left: 20px;
}

div[class*='spacer-'] {
    display: block;
}
.spacer-mini {
    height: 20px;
}
.modal{
	display: none;
}
iframe{
	border:0;
	margin: 0;
}
footer .copyright {
	border-top: 1px solid rgba(0, 0, 0, .10);
	text-align: center;
	padding: 30px 0;
	line-height: 20px;
	width: 1100px;
	color: #fff;
	}
	.text-light .copyright { border-color: rgba(255, 255, 255, .15); }

	#footer{
		width: 1100px;
	}
	#footer h4{
		color: #fff;

	}
	.copyright small a{
		color: #b1b1ce;
		text-decoration: none;
	}